<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!json">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d [%thread] %highlight(%-5level) %cyan(%-36logger{36}) : %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="json">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
    </springProfile>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.demo.springboot" level="INFO">
        <appender-ref ref="${logAppender:-STDOUT}" />
    </logger>
</configuration>